/* Global Styles */
body {
  background-color: #add8e6 !important;
}

.navbar-default {
  background-color: #add8e6 !important;
}

ul.navbar-nav li {
  height: 50px !important;
  width: 200px !important;
  font-size: 110% !important;
  color: black !important;
  border: 1px solid white !important;
}

/* Shape Styling */
.shapeMove {
  width: 100%;
  height: 25%;
  border: 2px solid white;
  margin-right: 5%;
}

.shapeFade {
  width: 100%;
  height: 25%;
  margin-top: 5%;
  margin-right: 5%;
  border: 2px solid white;
}

.shapeSlide {
  width: 100%;
  height: 25%;
  margin-top: 5%;
  margin-right: 5%;
  border: 2px solid white;
}


div#outFade {
  background-color: lightblue;
}


div#toFade {
  background-color: lightblue;
}

div#inFade {
  color: #add8e6;
  background-color: #add8e6;
  border: 2px solid white;
}

div#inFade.notClear {
  color: black;
  background-color: white;
  border: 2px solid white;
}

#inFade {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

/* jQuery Classes */
.change {
  background-color: silver !important;
}

/*Bottom Styling */
div.spacer {
  height: 50px;
  width: 100%;
}
